@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;800;900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  
  animation: 15s linear 0s normal none infinite running App-logo-spin;
}



.App-header {
  background-image: url('img/dom.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: calc(10px + 10vmin);
  font-weight: 800;
  color: #e7e7e0;
  text-shadow: 0 0 15px #9d822b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
